[submodule "substrate-node-template"]
	path = substrate-node-template
	url = https://github.com/substrate-developer-hub/substrate-node-template
	branch = substrate-package
[submodule "substrate-module-template"]
	path = substrate-module-template
	url = https://github.com/substrate-developer-hub/substrate-module-template
	branch = substrate-package
[submodule "substrate-front-end-template"]
	path = substrate-front-end-template
	url = https://github.com/substrate-developer-hub/substrate-front-end-template
	branch = substrate-package
